<form action="/search/node" method="get" accept-charset="UTF-8" data-drupal-form-fields="edit-keys" autocomplete="off" class="ms-xl-5 d-xl-none">
  <div class="input-group">
    <input title="Enter the terms you wish to search for" placeholder="Search" type="search" name="keys" value="" maxlength="128" class="form-search form-control rounded-0 py-1" aria-label="Search button (required)" aria-required="true"  autocomplete="off" required>
    <button type="submit" class="input-group-text btn btn-primary px-3 py-1">
      <i class="bi bi-search"></i>
    </button>
  </div>    
</form>