{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

<style>
    main, footer{
        max-width: 640px;
        width: 640px;
    }
    .nihodbg {
        background: url(https://styleguide.od.nih.gov/sites/default/files/uploaded/abstractBG1.PNG);
        background-size: cover;
        background-position: center 100%;
    }
</style>

<div class="layout-container d-flex flex-column justify-content-center align-items-center h-100 bg-info-subtle">

    <main role="main" class="d-flex align-items-center justify-content-around">

        <div class="card shadow border-0">
            <div class="text-center p-4">
                <strong class="fs-4 text-uppercase">{{ page["#title"] }}</strong>
            </div>

            <div class="row row-cols-3 g-0" role="tablist">
                <a href="/user/login" class="btn btn-light rounded-0 m-0 py-4"><strong>Log in</strong></a>
                <a href="/user/register" class="btn btn-light rounded-0 m-0 py-4"><strong>Register</strong></a>
                <a href="/user/password" class="btn btn-primary rounded-0 m-0 py-4"><strong>Reset password</strong></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9 p-5">
                        <div class="p-3">
                          {{ page.content[directory|split('/')[1]|replace({'-': "_"}) ~ "_content"] }}
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-lg-3 nihodbg"></div>
                </div>
            </div>
        </div>
    
    </main>

    <footer>
        {{ page.content["nihod5__subtheme__test_messages"] }}
    </footer>

</div>{# /.layout-container #}
